* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Noto Sans', sans-serif;
    --black: 900;
    --extrabold: 800;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --Fblack: rgb(26, 26, 26);
    --Fwhite: white;
    --height: 50px;
    --glow: rgb(191, 255, 203);
}

body {
    overflow-x: hidden;
    /* background-color: #252525; */
}
body::-webkit-scrollbar {
    display: none;
}

#header {
    position: fixed;
    min-height: var(--height);
    max-height: 50px;
    height: auto;
    width: 100%;
    z-index: 300;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease-in-out;
    backdrop-filter: blur(50px);
    background-color: #242424d7;
}

#header.scroll {
    backdrop-filter: blur(50px);
    background-color: rgba(4, 14, 3, 0.967);
}

nav ul {
    list-style: none;
    align-items: center;
}

#logo>img {
    margin: 10px;
    height: 60px;
    width: auto;
}

ul a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--Fwhite);
    position: relative;
    margin-left: 5vw;
    padding: 0 10px;
    padding-top: 15px;
    transition: 0.5s ease-in-out;
}

ul a:hover {
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

ul a::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

ul a:hover::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 100%;
    left: 0;
    transition: 0.3s ease-in-out;
}

ul {
    display: flex;
    justify-content: center;
}

#about {
    color: #97DB4F;
}

.contact>button {
    font-size: 1rem;
    font-weight: 800;
    color: #97DB4F;
    position: relative;
    z-index: 300;
    width: 150px;
    height: 35px;
    top: 10px;
    border: solid 1px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    border-color: #97DB4F;
}

.contact>button:hover {
    color: white;
    border: solid 3px;
    border-style: double;
    background-image: none;
    transition: 0.3s ease-in-out;
}

.container {
    height: 2000px;
    width: auto;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 80vw;
    height:2000px;
}

.img>img{
    width: 80vw;
    position: absolute;
    top: 0;
}

#title{
    color: rgb(36, 36, 36);
    z-index: 10;
    font-size: 3rem;
    font-weight: 800;
    background-color: #97DB4F;
    display: block;
    margin: auto;
}

.info{
    height: 1000px;
}
.details{
    width: 80%;
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.details p{
    margin: 0 32px 0 32px;
    font-size: 2rem;
    font-weight:500;
    color: #252525;
    padding: 16px;
}

.second{
    position: relative;
    top: 100px;
}

.second .title{
    font-size: 2rem;
    background-color: #97DB4F;
}