* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Noto Sans', sans-serif;
    --black: 900;
    --extrabold: 800;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --Fblack: rgb(26, 26, 26);
    --Fwhite: white;
    --height: 60px;
}

.primary-container {
    overflow: hidden;
    z-index: 500;
}

header {
    position: fixed;
    min-height: var(--height);
    height: auto;
    width: 100%;
    z-index: 400;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
}

#logo>img {
    margin: 10px;
    height: 50px;
    width: auto;
}

a {
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--Fblack);
    position: relative;
    margin-left: 5vw;
    padding: 0 10px;
    padding-top: 15px;
    letter-spacing: 0.5px;
    transition: 0.5s ease-in-out;
}

a:hover{
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

a::after{
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 0;
}
a:hover::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 100%;
    left: 0;
    transition: 0.3s;
}

ul {
    display: flex;
    justify-content: center;
}

#sub_list{
    background-color:#f9fffa;
    color:#2e852e;
    width: auto;
    left: 0;
    position: absolute;
    visibility: hidden;
    font-size: 1rem;
    top: 55px;
}

#what:hover ul#sub_list{
    visibility: visible;
    width: 250px;
    display: block;
    padding: 20px;
}

#sub_list a{
    padding: 0.3rem;
}

.contact>button {
    font-size: 1rem;
    font-weight: 800;
    color: var(--Fwhite);
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 200;
    width: 150px;
    height: 40px;
    top: 10px;
    border: solid 1px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(45deg, #85a363, #2e852e);
    border-color: #97DB4F;
}

.contact>button:hover {
    transition: 0.5s ease-in-out;
    z-index: 200;
    width: 170px;
    color: var(--Fblack);
    background-image: none;
    filter: drop-shadow(0px 4px 15px rgba(151, 219, 79, 0.5));
}

.hero-section{
    margin-top: var(--height);
    background-color: rgb(199, 89, 89);
    height: 80vh;
}