* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Noto Sans', sans-serif;
    --black: 900;
    --extrabold: 800;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --Fblack: rgb(26, 26, 26);
    --Fwhite: white;
    --height: 50px;
    --glow: rgb(191, 255, 203);
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.primary-container {
    height: 100vh;
    width: auto;
    background-image: url("rsrc/forest-1867975_1920.jpg");
    background-size: cover;
}

#header {
    position: fixed;
    min-height: var(--height);
    max-height: 50px;
    height: auto;
    width: 100%;
    z-index: 300;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease-in-out;
}

#header.scroll {
    backdrop-filter: blur(50px);
    background-color: rgba(8, 25, 7, 0.4);
}

nav ul {
    list-style: none;
    align-items: center;
}

#logo>img {
    margin: 10px;
    height: 60px;
    width: auto;
}

ul a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--Fwhite);
    position: relative;
    margin-left: 5vw;
    padding: 0 10px;
    padding-top: 15px;
    transition: 0.5s ease-in-out;
}

ul a:hover {
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

ul a::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

ul a:hover::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 100%;
    left: 0;
    transition: 0.3s ease-in-out;
}

ul {
    display: flex;
    justify-content: center;
}

#home {
    color: #97DB4F;
}

.contact>button {
    font-size: 1rem;
    font-weight: 800;
    color: #97DB4F;
    position: relative;
    z-index: 300;
    width: 150px;
    height: 35px;
    top: 10px;
    border: solid 1px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    border-color: #97DB4F;
}

.contact>button:hover {
    color: white;
    border: solid 3px;
    border-style: double;
    background-image: none;
    transition: 0.3s ease-in-out;
}

.liveAqiInfo{
    height: 300px;
    width: 200px;
    background-color: #97DB4F;
}

.second-container {
    height: 100vh;
}

.hero-section {
    z-index: 200;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10vh;
    height: auto;
}

.section {
    position: relative;
    top: 40px;
    width: 100%;
}

.text {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    text-align: center;
    padding: 8px;
    width: 55vw;
    height: 40vh;
    font-size: 40px;
    font-weight: 500;
    color: rgb(254, 255, 193);
}

#typing-cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.flashcards {
    z-index: 200;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    max-height: 400px;
    width: 100%;
    padding: 16px;
}

.card {
    box-shadow: 1px 1px 100px rgba(255, 231, 166, 0.315);
    text-align: center;
    font-weight: var(--bold);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 16px;
    height: auto;
    width: 380px;
    color: white;
    backdrop-filter: blur(100px);
    border: #97DB4F;
}

.card span {
    padding: 8px;
    color: #97DB4F;

}

.card p {
    font-size: 1rem;
    font-weight: 300;
    text-align: start;
    color: rgb(218, 218, 218);
    padding: 16px;
}

.CTA {
    height: auto;
    width: auto;
    position: fixed;
    right: 32px;
    bottom: 32px;
}

.CTA div {
    font-size: 2rem;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rip 3s ease-in-out;
    animation-iteration-count: infinite;
    transition: 0.3s ease-in-out;
}

@keyframes rip {
    0% {
        background-color: rgb(255, 210, 48);
    }

    50% {
        background-color: rgb(255, 136, 0);
    }

    100% {
        background-color: rgb(255, 210, 48);
    }

}

.CTA div:hover {
    font-size: 1rem;
    animation: stop ease-in-out;
    height: 100px;
    width: 250px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: rgba(71, 56, 0, 0.794);
}

@keyframes stop {
    0% {
        height: 56px;
        width: 56px;
        background-color: rgb(255, 183, 48);
    }

    50% {
        height: 56px;
        width: 56px;
        background-color: rgb(255, 183, 48);
    }

    100% {
        background-color: rgb(255, 183, 48);
        height: 56px;
        width: 56px;
    }
}



.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

@media (min-width:900px) {
    .dropdownNavbar{
        display: none;
    }
}







@media (max-width:450px) {
    body {
        overflow: scroll;
    }

    .pcNavbar{
        display: none;
    }

    .dropdownNavbar{
        display:block;
    }

  

    .toggle-btn>i{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        font-size: 32px;
        margin: 16px;
    }

    #header {
        position: fixed;
        min-height: 50px;
        max-height: 100%;
        height: auto;
        width: 100%;
        z-index: 300;
        display: flex;
        flex-direction: co;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transition: background-color 0.3s ease-in-out;
        backdrop-filter: blur(20xp);
    }

    #header.scroll {
        backdrop-filter: blur(50px);
        background-color: rgba(8, 25, 7, 0.4);
    }

    nav{
        height: auto;
        background-color: #97DB4F;
    }

    nav ul {
        list-style: none;
        align-items: center;
    }

    #logo>img {
        margin: 16px;
        height: 60px;
        width: auto;
    }

    ul a {
        font-size: 0.6rem;
        font-weight: 300;
        text-decoration: none;
        color: var(--Fwhite);
        position: relative;
        margin-left: vw;
        padding: 0 10px;
        padding-top: 15px;
        transition: 0.5s ease-in-out;
    }

    ul a::after {
        content: "";
        position: absolute;
        background-color: #97DB4F;
        height: 3px;
        width: 0;
        transition: 0.3s ease-in-out;
    }

    ul a:hover::after {
        content: "";
        position: absolute;
        background-color: #97DB4F;
        height: 3px;
        width: 100%;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #home {
        color: #97DB4F;
    }

    .contact>a>button {
        font-size: 1rem;
        font-weight: 800;
        color: #97DB4F;
        position: relative;
        z-index: 300;
        width: 150px;
        height: 35px;
        top: 10px;
        border: solid 1px;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 0);
        border-color: #97DB4F;
    }

    .contact>a>button:hover {
        color: white;
        border: solid 3px;
        border-style: double;
        background-image: none;
        transition: 0.3s ease-in-out;
    }

    .flashcards {
        z-index: 200;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 1rem;
    }

    .card{
        width: 80%;
        height: 150px;
    }

    .card span{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .card p{
        font-size: 1rem;
        font-weight: 300;
    }
}