* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-image: url("/ACI/rsrc/photo_2023-04-28_14-59-13.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    overflow-x: hidden ;
}

body::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

#header {
    background-color: rgba(7, 22, 6, 0.42);
    position: fixed;
    min-height: var(--height);
    max-height: 50px;
    height: auto;
    width: 100%;
    z-index: 300;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease-in-out;
}

#header.scroll {
    backdrop-filter: blur(50px);
    background-color: rgba(13, 41, 11, 0.72);
    color: rgb(0, 0, 0);
}

#read{
    color:#97DB4F;
}

nav ul {
    list-style: none;
    align-items: center;
}

#logo>img {
    margin: 10px;
    height: 60px;
    width: auto;
}

ul a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
    position: relative;
    margin-left: 5vw;
    padding: 0 10px;
    padding-top: 15px;
    transition: 0.5s ease-in-out;
}

ul a:hover {
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

ul a::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

ul a:hover::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 100%;
    left: 0;
    transition: 0.3s ease-in-out;
}

ul {
    display: flex;
    justify-content: center;
}

.contact>a>button {
    font-size: 1rem;
    font-weight: 800;
    color: #97DB4F;
    position: relative;
    z-index: 300;
    width: 150px;
    height: 35px;
    top: 10px;
    border: solid 1px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    border-color: #97DB4F;
}

.contact>a>button:hover {
    color: white;
    border: solid 3px;
    border-style: double;
    background-image: none;
    transition: 0.3s ease-in-out;
}

.articles {

    position: relative;
    top: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.newshead {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.69);
    padding: 24px;
    font-size: 1rem;
    height: auto;
    width: 50vw;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

.article {
    word-wrap: break-word;
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #151515;
    padding: 8px;
    align-items: center;
    width: 100%;
}

.article {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
    padding: 8px;

}