* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Noto Sans', sans-serif;
    --black: 900;
    --extrabold: 800;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --Fblack: rgb(26, 26, 26);
    --Fwhite: white;
    --height: 60px;
    --glow: rgb(191, 255, 203);
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    /* background-image: url("rsrc/IMG_20230426_144358_318\ \(1\).jpg"); */
    background-color: #000000e9;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}

body::-webkit-scrollbar {
    display: none;
}

.hidden {
    visibility: hidden;
    height: 0;
    transition: 0.3s ease-in-out;
}

.visible {
    visibility: visible;
    height: auto;
    transition: 0.3s ease-in-out;
}

#header {
    margin-bottom: 32px;
    position: fixed;
    min-height: var(--height);
    max-height: 50px;
    height: auto;
    width: 100vw;
    z-index: 300;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgba(7, 25, 6, 0.303);
    transition: background-color 0.3s ease-in-out;
}

#header.scroll {
    backdrop-filter: blur(50px);
    background-color: rgba(9, 33, 7, 0.105);
    transition: 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    align-items: center;
}

#logo>img {
    margin: 10px;
    height: 60px;
    width: auto;
}

ul a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--Fwhite);
    position: relative;
    margin-left: 5vw;
    padding: 0 10px;
    padding-top: 15px;
    transition: 0.5s ease-in-out;
}

ul a:hover {
    font-size: 1rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

ul a::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

ul a:hover::after {
    content: "";
    position: absolute;
    background-color: #97DB4F;
    height: 3px;
    width: 100%;
    left: 0;
    transition: 0.3s ease-in-out;
}

ul {
    display: flex;
    justify-content: center;
}

#what {
    color: #97DB4F;
}

.contact>a>button {
    font-size: 1rem;
    font-weight: 800;
    color: #97DB4F;
    position: relative;
    z-index: 300;
    width: 150px;
    height: 35px;
    top: 10px;
    border: solid 1px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    border-color: #97DB4F;
}

.contact>a>button:hover {
    color: white;
    border: solid 3px;
    border-style: double;
    background-image: none;
    transition: 0.3s ease-in-out;
}


.secondary-container {
    height: auto;
    width: 100%;

}

/* .fade {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(10, 0, 0, 0.944), rgba(16, 12, 0, 0.911));
} */

.start-info {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-info>p {
    font-size: 2.5rem;
    font-weight: 700;
    color: #97DB4F;
    padding: 2rem;
}

.start-info span {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
}



.textSc {
    height: 100px;
    width: 70vw;
}


.aqi-button {
    font-size: 1rem;
    font-weight: 800;
    color: white;
    background-color: #0e1407c0;
    border: solid 1px #97DB4F;
    border-radius: 20px;
    width: 150px;
    box-shadow: 0 0 50px #c3fbab77;
}

canvas {
    transition: 0.3s ease-in-out;
}

.infotext {
    color: white;
    height: auto;
}

.infotext>span {
    color: white;
}

#aqiInfo {
    margin: 8px;
}

.canvas-chart {
    display: flex;
    justify-content: center;
}

#vehicleInfo {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

/* *********************PC*********************** */

@media (min-width: 1200px) {


    .chartCenter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* gap: 32px; */
        transition: 0.3s ease-in-out;
        padding: 1rem;
    }

    .chartFlex {
        /* margin: 4px; */
        position: relative;
        display: flex;
        justify-content: space-evenly;
        /* padding: 8px; */
        transition: 0.3s ease-in-out;
    }

    .buttons {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .aqi-button {
        margin: 1rem;
        letter-spacing: 0.06rem;
        padding: 0.5rem;
        transition: 0.3s ease-in-out;

    }

    .canvas-chart {
        margin-bottom: 6rem;
        margin-top: 3rem;
        min-width: 60rem;
        min-height: 31rem;
        max-width: 75rem;
        max-height: 37px;
        transition: ease-in-out;
    }

    .infotext {
        max-width: 31rem;
        transition: 0.3s ease-in-out;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .infotext>span {
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: justify;
    }

    .vContainer {
        display: flex;
        justify-content: space-evenly;
    }

    .infoV {
        max-width: 31rem;
        transition: 0.3s ease-in-out;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
    }


    .vehicle-chart {
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;
        margin-top: 3rem;
        min-width: 60rem;
        min-height: 31rem;
        max-width: 75rem;
        max-height: 37px;
        transition: ease-in-out;
    }

}

/* *********************mobile*********************** */

@media (max-width: 500px) {
    #chartOne {
        display: hidden;
    }

    .canvas-chart {
        align-items: center;
        max-height: 60vh;
        width: 90vw;
    }

    .secondary-container {
        height: 3000px;
        width: 100vw;
    }

    .start-info>p {
        font-size: 1.5rem;
        font-weight: 700;
        color: #97DB4F;
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }

    .start-info span {
        color: white;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        padding: 1rem;
    }

    .buttons {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
    }

    .aqi-button {
        padding: 10px;
    }

    .buttons button {
        font-size: 1rem;
        font-weight: 800;
        color: white;
        background-color: #96db4d15;
        border: solid 1px #97DB4F;
        border-radius: 20px;
        width: 150px;
        box-shadow: 0 0 60px #02060091;
    }

    .infotext {
        transition: 0.3s ease-in-out;
        padding: 32px;
    }

    .infotext>span {
        color: #ececec;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: justify;
    }

    #chart {
        width: 90%;
        height: 600px;
    }

    #vehicle-button {
        display: block;
        position: relative;
    }

    .vehicle-chart {
        display: flex;
        justify-content: center;
    }
    .vContainer{
        display: block;
        padding: 16px;
    }

}